{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.item_name}}</h2>

    <img src="{{listing.item_image.url}}" alt=""
    style="height: 150px;
           width: auto;">
    <p>{{listing.item_des}}</p>
    <hr>
{% if listing.is_closed == False %}

    {% if number_of_bids == 0 %}
    <p>Be the first one to bid!</p>
    <p>Starting price: {{listing.item_price}}$</p>
    {% else %}
    <p>Current largest bid: {{largest_bid}}$</p>
    {% endif %}

    {% if user.is_authenticated %}
    <form action="{% url 'listing' listing.pk %}" method="post">
        {%csrf_token%}
        Bid a price:
        <input type="number" step="any" name="bid_price">
        <input type="submit">
    </form>
    {% else %}
    <h4>You must sign in first to be able to bid</h4>
    {% endif %}


    <br>


    {% if is_in_watchlist %}
    <form action="{% url 'watchlist' %}" method="post">
        {%csrf_token%}
        <input type="hidden" value="{{listing.pk}}" name="listing_id">
        <input type="submit" value="Remove from Watchlist" name="REMOVE">
    </form>
    {% else %}
    <form action="{% url 'watchlist' %}" method="post">
        {%csrf_token%}
        <input type="hidden" value="{{listing.pk}}" name="listing_id">
        <input type="submit" value="Add to Watchlist">
    </form>
    {% endif %}


    {% if user.is_authenticated and user == listing.user_id %}
    <form action="{% url 'listing' listing.pk %}" method="post">
        {%csrf_token%}
        <input type="hidden">
        <input type="submit" value="Close the listing" name="CLOSE">
    </form>
    {% else %}

    <p>This biding was made by user {{listing.user_id}}</p>
    {% endif %}

{% else %}
    <h5>This listing has been closed</h5>
    {% if request.user == winner %}
      You have won the bid! <a href="">Claim the item</a>
    {% endif %}
    {% if winner == None %}
            <p>Listing was closed before a bid was made</p>
    {% endif %}
{% endif %}

    <hr>
    {% if user.is_authenticated %}
    <form action="{% url 'comment' listing.pk %}" method="post">
        {%csrf_token%}
        Add a comment:
        <input type="text" name="comment">
        <input type="submit">
    </form>
    {% else %}
    <h4>You must sign in first to be able to comment</h4>
    {% endif %}

    <hr>
    <div style="background-color: antiquewhite;">
        {% for comment in comments %}
        <h6>{{comment.user_id}}</h6>
        <p>{{comment.comm_text}}</p>
        <hr>
        {% empty %}
        <h6>No comments added yet.</h6>
        {% endfor %}
    </div>
    
    
{% endblock %}